<?xml version="1.0"?>

<launch>

  <arg name="scan_topic" default="scan" />
  <node pkg="tf" type="static_transform_publisher" name="static_broadcaster1" args="-0.032 0 0.172 0 0 0 1 base_footprint2 base_scan 100" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: odom2
      base_frame: base_footprint2
      map_frame: map

      map_update_interval: 2.0 # Publish new map

      maxUrange: 5.5 # Should be just less than sensor range
      maxRange: 6.1 # Should be just greater than sensor range
      particles: 100 # Increased from 80

      # Update frequencies
      linearUpdate: 0.25
      angularUpdate: 0.5
      temporalUpdate: 2.0
      resampleThreshold: 0.5

      # Initial Map Size
      xmin: -10.0
      ymin: -10.0
      xmax: 10.0
      ymax: 10.0
      delta: 0.05

      # All default
      sigma: 0.05
      kernelSize: 1
      lstep: 0.1
      astep: 0.1
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005

    </rosparam>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find multi_robot_scenario)/rviz/gmapping.rviz"/>
</launch>
